@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* variables */
:root{
    --font1: #718096;
    --font2: #4a5568;
    --font3: #f7fafc;
    --bg1: #e2e2d5;
    --bg2: #f2f2e5;
}
/* reset defaults */
body, h1, h2, h3, h4, a, ul, li{
    color: var(--font1);
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: unset;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
body{
    background-color: var(--bg2);
}
ul{
    position: relative;
    left: 50px;
    margin: 10px;
}
main{
    background-color: var(--bg2);
    padding: 5%;
    width: 90%;
}
code{
    display: block;
    background-color: var(--font2);
    color: var(--font3);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;  
}
h1{ 
    font-size: 1.5rem;
    background-color: var(--bg1);
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    border: inset 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset -1px 1px 6px rgba(0,0,0,.1);
}
h2{
    color: var(--font2);
    font-size: 1.5rem;
    font-weight: 500;
}
h3{
    color: var(--font2);
    font-size: 1.25rem;
    font-weight: 500;
}
#intro p{
    margin-bottom: 25px;
}
.card{
    left: 10%;
    width: 80%;
    background-color: var(--bg1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card:hover{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
h1:hover{
    box-shadow: inset -1px 1px 6px rgba(0,0,0,.2);
    cursor: pointer;
}

